<div class="full-body-bg-dark">
    <!-- Start Header Navbar Section -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Example</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">How it works?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Get in touch with us!</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <button class="btn btn-outline-light text-uppercase mx-2">Login</button>
                        <button class="btn btn-outline-light text-uppercase">Sign up</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header Navbar Section -->

    <!-- Start First Section Content Info -->
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="first-section-content text-center">
                    <h1 class="mb-3">Transcribe Bassbliss Pieces to Tabs</h1>
                    <p>Upload your Bassbliss piece as MP3 file or import a YouTube Bassbliss video and get a PDF, MIDI, BassblissPro5, and MusicXML transcription right away!</p>
                    <div class="btn-link-info pt-4 pb-5">
                        <a class="yellow-btn" href="#">Try It Out Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row mb-4">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <video class="video-full" autoplay loop playsinline>
                        <source src="assets/function_g2t.webm" type="video/webm">
                    </video>
                <div class="video-step-info">
                    <div class="video-step-txt">
                        <h5>1</h5>
                        <p>Bassbliss Music</p>
                    </div>
                    <div class="video-step-txt">
                        <h5>2</h5>
                        <p>Al</p>
                    </div>
                    <div class="video-step-txt">
                        <h5>3</h5>
                        <p>MIDI, GP5, PDF & MusicXML</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row mb-5">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="video-select-info">
                    <div class="video-select-group">
                        <div class="upload-area-header">
                            <h3 class="upload-area-title">Try it yourself</h3>
                            <p class="upload-area-paragraph">Transcribe the first 30s for free!</p>
                        </div>
                        <div class="upload-file-details mb-4">
                            <div class="dropzone">
                                <div class="drop-file-txt">
                                    <div class="drop-p">
                                        <p>
                                            <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"></path></svg>
                                            <span class="p-h3">Drop or select audio file here </span><span class="audio-file-txt">Choose an audio file</span>
                                        </p>
                                    </div>
                                    <div>
                                        <p>(*.mp3, *.m4a, *.flac, *.wav, *.mid)</p>
                                    </div>
                                </div>
                                <input type="file" class="upload-input"  (change)="onFileSelected($event)" accept="audio/mpeg,audio/flac,audio/wav,audio/mp4,audio/m4a,audio/x-m4a,audio/x-wav,audio/x-aiff,audio/ogg,audio/vorbis,audio/x-mpegurl,video/mp4,audio/midi,audio/mid" />
                            </div>
                        </div>
                        <div class="or-txt-info pt-3 mb-4">
                            <hr>
                            <span>or</span>
                        </div>
                        <div class="input-field-row">
                            <div>
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" class="svg-inline--fa fa-youtube fa-w-18 fa-5x jss162" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" color="#ff0000"><path fill="currentColor" d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path></svg>
                            </div>
                            <div class="input-label-info">
                                <input type="search" name="youtube-url" class="input-field">
                                <label>Example: https://youtube.com/watch?v=mupLnhEa5dM</label>
                            </div>
                        </div>
                        <div class="btn-transcribe mt-4 mb-1">
                            <button [class.disable]="!file" (click)="sendVideoData()">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magic" class="svg-inline--fa fa-magic fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="margin-right: 10px;"><path fill="currentColor" d="M224 96l16-32 32-16-32-16-16-32-16 32-32 16 32 16 16 32zM80 160l26.66-53.33L160 80l-53.34-26.67L80 0 53.34 53.33 0 80l53.34 26.67L80 160zm352 128l-26.66 53.33L352 368l53.34 26.67L432 448l26.66-53.33L512 368l-53.34-26.67L432 288zm70.62-193.77L417.77 9.38C411.53 3.12 403.34 0 395.15 0c-8.19 0-16.38 3.12-22.63 9.38L9.38 372.52c-12.5 12.5-12.5 32.76 0 45.25l84.85 84.85c6.25 6.25 14.44 9.37 22.62 9.37 8.19 0 16.38-3.12 22.63-9.37l363.14-363.15c12.5-12.48 12.5-32.75 0-45.24zM359.45 203.46l-50.91-50.91 86.6-86.6 50.91 50.91-86.6 86.6z"></path></svg>
                                    Transcribe
                                </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row pb-5">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="video-select-info">
                    <div class="video-select-group">
                        <div class="upload-area-header">
                            <h4>Listen to our Demo</h4>
                        </div>
                        <div class="ori-tran-details mb-4">
                            <div class="row row-0">
                                <div class="col-md-6">
                                    <div class="audio-file-info">
                                        <h3>Original</h3>
                                        <audio controls>
                                                <source [src]="response?.video" type="audio/mpeg">
                                            </audio>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="audio-file-info">
                                        <h3>Transcription</h3>
                                        <audio controls>
                                                <source [src]="response?.video" type="audio/mpeg">
                                            </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="song-file-graph">
                            <img src="assets/example_sheet.svg" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <!-- End First Section Content Info -->
</div>